<!doctype html>
<html lang="en" class="semi-dark" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" th:href="@{/public/images/favicon-32x32.png}" type="image/png" />
	<!--plugins-->
	<link th:href="@{/public/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
	<link th:href="@{/public/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
	<link th:href="@{/public/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />
	<!-- loader-->
	<link th:href="@{/public/css/pace.min.css}" rel="stylesheet" />
	<script th:src="@{/public/js/pace.min.js}"></script>
	<!-- Bootstrap CSS -->
	<link th:href="@{/public/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/public/css/bootstrap-extended.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link th:href="@{/public/css/app.css}" rel="stylesheet">
	<link th:href="@{/public/css/icons.css}" rel="stylesheet">
	<title>Dashrock - Bootstrap 5 Admin Dashboard Template</title>
	<style>
		.invalid-feedback {
            display: block
        }
	</style>
</head>

<body class="">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-authentication-cover">
			<div class="">
				<div class="row g-0">
					<div class="col-12 col-xl-7 col-xxl-8 auth-cover-left align-items-center justify-content-center d-none d-xl-flex">
                        <div class="card shadow-none bg-transparent shadow-none rounded-0 mb-0">
							<div class="card-body">
                                 <img th:src="@{/public/images/login-images/forgot-password-cover.svg}" class="img-fluid" width="600" alt=""/>
							</div>
						</div>
					</div>
					<div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
						<div class="card rounded-0 m-3 shadow-none bg-transparent mb-0">
							<div class="card-body p-sm-5">
								<div class="p-3">
									<div class="text-center">
										<img thsrc="@{/public/images/icons/forgot-2.png}" width="100" alt="" />
									</div>
									<h4 class="mt-5 font-weight-bold">Forgot Password?</h4>
									<p class="text-muted">Enter your registered email ID to reset the password</p>
									<form class="row g-3" th:action="@{/forgot-password}" th:object="${user}" method="post">
										<div class="my-4">
											<label class="form-label">Email id</label>
											<input type="email" class="form-control" name="email" id="email" placeholder="example@user.com" />
											<div th:if="${errorEmail}"
												 class="invalid-feedback">Email is not exists!
											</div>
										</div>
										<div class="d-grid gap-2">
											<button type="submit" id="submitButton" class="btn btn-primary" disabled >Send</button>
											<a th:href="@{/authenticated}" class="btn btn-light"><i class='bx bx-arrow-back me-1'></i>Back to
												Login</a>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script th:src="@{/public/js/bootstrap.bundle.min.js}"></script>
	<!--plugins-->
	<script th:src="@{/public/js/jquery.min.js}"></script>
	<script th:src="@{/public/plugins/simplebar/js/simplebar.min.js}"></script>
	<script th:src="@{/public/plugins/metismenu/js/metisMenu.min.js}"></script>
	<script th:src="@{/public/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
	<!--Password show & hide js -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});

		// Get references to the input fields and the submit button
        const emailInput = document.getElementById("email");
        const submitButton = document.getElementById("submitButton");

		// Function to check if passwords match
        function checkEmailEntered() {
            const email = emailInput.value;

            if (email != "") {
                submitButton.disabled = false; // Enable the submit button
            } else {
                submitButton.disabled = true; // Disable the submit button
            }
        }

        // Add event listeners to both input fields to check for changes
        emailInput.addEventListener("input", checkEmailEntered);
	</script>
	<!--app JS-->
	<script th:src="@{/public/js/app.js}"></script>
</body>

</html>